body{
    background-color: black;
    color: white;
}

.Header{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 8px;
}
.logo{
    /* border: 2px solid blue; */
    max-width: 80px;
    border-radius: 10px;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;

}

.resto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detail-container{
    /* border: 2px solid red; */
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    max-width: 200px;
    overflow-wrap: break-word;
}

.food-image{
    
    max-width: 190px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shimmer{
    width: 200px;
    height: 250px;
    margin-bottom: 20px;
    background-color: rgb(206, 203, 203);
}

.login-btn{
    padding: 5px 6px;
    cursor: pointer;
}
.search-btn{
    margin-right:20px ;
}

.filter{
    margin: 15px 0px;
}